/* GLOBAL STYLES - START ----------------------------*/
  /* GOOGLE FONTS */
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
  /* font-family: 'Roboto', sans-serif; */


  html {
    font-family: 'Roboto', sans-serif;
  }

  body {
    margin: 0;
  }

  h1 {
    color: white;
    font-weight: 500;
    font-size: 2.3rem;
    margin: 0;
    align-self: center;
    padding-left: 0.5rem;
  }

  h3 {
    margin: 0;
  }

  a {
    list-style: none;
    text-decoration: none;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

/* GLOBAL STYLES - END ---------------------------- */
