/* GLOBAL STYLES - START ----------------------------*/
  /* GOOGLE FONTS */

  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
  /* font-family: 'Roboto', sans-serif; */


  * {
    font-family: 'Roboto', sans-serif;
  }

  body {
    margin: 0;
  }

  h1 {
    color: white;
    font-weight: 500;
    font-size: 2.3rem;
    margin: 0;
    align-self: center;
    padding-left: 0.5rem;
  }

  h3 {
    margin: 0;
  }

  a {
    list-style: none;
    text-decoration: none;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  input {
    display: block;
  }

/* GLOBAL STYLES - END ---------------------------- */








/* FOOTER STYLES - START ---------------------------- */
footer {
  background-color: rgb(245, 245, 245);
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-rows: 40px 20px;
}

footer .footer-feedballoon-icon {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;

  bottom: 38px;
}

.footer-icons-box {
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
}

footer .feedballoon-icon {
  width: 75px;
}

footer nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  text-decoration: none;
  list-style: none;
}

footer .footer-icons ul li:nth-of-type(3n){
  grid-column: 4 / 5;
}


footer .footer-icons ul li a  {
  color: rgb(200,200,200);
  font-size: 1.5rem;
}

footer .footer-icons-subtitle ul li a {
  color: rgb(100,100,100);
  font-weight: 300;
  font-size: 0.6rem;
}

.footerSelected {
  color: #E10B90 !important;
}

/* FOOTER STYLES - END ---------------------------- */


.selected {
  color: #E10B90 !important;
}
